.alert-banner-container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;

  &.info {
    background: #11182b;
  }
  &.warning {
    background: #2a2112;
  }
  &.error {
    background: #2b151b;
  }
  &.success {
    background: #132621;
  }
  img {
    width: 16px;
    height: 16px;
  }
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;

    /* Text & icons/colorPrimaryText */

    color: rgba(255, 255, 255, 0.85);
  }
}
