.component-tooltip {
  position: fixed;
  z-index: 999999;
  .tooltip {
    position: relative;
    .content {
      padding: 12px;
      // max-width: 300px;
      // background: #24262c;
      background: rgba(0, 0, 0, 0.95);
      border-radius: 4px;
      color: var(--unnamed, #FEFCFA);
      font-family: PingFang SC;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
    .arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
  .tooltip-top {
    padding-bottom: 16px;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));
    .arrow {
      bottom: 8px;
      border-width: 8px 9px 0 9px;
      border-color: rgba(0, 0, 0, 0.95) transparent transparent transparent;
    }
  }
  .tooltip-bottom {
    padding-top: 16px;
    filter: drop-shadow(0px -6px 16px rgba(0, 0, 0, 0.08));
    .arrow {
      top: 8px;
      border-width: 0 9px 8px 9px;
      border-color: transparent transparent rgba(0, 0, 0, 0.95) transparent;
    }
  }
}
