:root {
}

@font-face {
    font-family: "Canela Trial";
    src:
      url("../fonts/Canela-Regular-Trial.otf");
  }
  


  @font-face {
    font-family: "Canela Trial Bold";
    src:
      url("../fonts/Canela-Bold-Trial.otf");
  }
  